.search-view {
    margin: 5%;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: flex-start;
    gap: 1%;

    .side-bar {
        font-size: 1.7rem;

        &__categories {
            list-style: none;
            text-align: center;

            h5 {
                margin: 1rem;
            }

            ul {
                list-style: none;
            }
        }
    }

    &__header {
        @include centerContentGrid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 2rem;
    }

    &__results {
        @include centerContentGrid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1%;
        margin-bottom: 5rem;

        .temp-box {
            margin-top: 2rem;
            height: 40rem;
            width: 30rem;
            background-color: $main-gray;
            border-radius: .5rem;
        }
    }
}