.nav {

    &_top {
        background-color: $light-gray;
        padding: 2rem;
        position: relative;

        &-container {
            font-size: 1.5rem;
            @include centerContentFlex;
            gap: 5%;
            flex-flow: wrap;
        }

        &-logo a:visited,
        &-logo a:link,
        &-logo a:active,
        &-logo a:hover {
            @include centerContentFlex;
            text-decoration: none;
            color: black;
        }

        &-search {
            position: relative;
            display: flex;
            min-width: 40%;
            @include centerContentFlex;

            &-button {
                font-size: 3rem;
                color: $light-gray;
                background-color: $main-gray;
                border: transparent;
                height: 4.3rem;
                width: 4.7rem;
                border-radius: .5rem 0 0 .5rem;
                outline: 0;
                cursor: pointer;
                @include centerContentFlex;
            }



            &-bar {
                font-size: 2rem;
                border: .15rem solid $main-gray;
                border-radius: 0 .5rem .5rem 0;
                height: 3rem;
                width: 100%;
                padding: .5rem;
                outline: 0;
            }
        }

        &-group {
            @include centerContentFlex;

            &-phoneNumber {
                @include centerContentFlex;
                margin-right: 5rem;

                ion-icon {
                    font-size: 2.5rem;
                    margin-right: 1rem;
                    transform: translateY(5px);
                }

                & p {
                    font-size: 2rem;
                }
            }

            &-cart {
                ion-icon {
                    font-size: 5rem;
                }
            }
        }
    }

    &_bot {
        border-top: .1rem solid $light-gray;
        border-bottom: .1rem solid $light-gray;
        margin-top: 5rem;

        &-container {
            font-size: 1.6rem;
            color: main-gray;
            padding: .5rem 0;
            @include centerContentFlex;
            gap: 10%;
            flex-flow: wrap;
        }
    }

}