.nav {

    &-top {
        background-color: $light-gray;
        padding: 2rem;

        &__container {
            font-size: 1.5rem;
            @include centerContentFlex;
            flex-flow: wrap;
        }

        &__logo a:visited,
        &__logo a:link,
        &__logo a:active,
        &__logo a:hover {
            @include centerContentFlex;
            text-decoration: none;
            color: black;
        }

        &__search {
            display: flex;
            @include centerContentFlex;
            width: 50%;

            .search-button {
                color: $light-gray;
                background-color: $main-gray;
                border: transparent;
                height: 4.3rem;
                width: 4.3rem;
                border-radius: .5rem 0 0 .5rem;
                outline: 0;
                cursor: pointer;
                @include centerContentFlex;

                ion-icon {
                    font-size: 3rem;
                }
            }

            .search-bar {
                font-size: 2rem;
                border: .15rem solid $main-gray;
                border-radius: 0 .5rem .5rem 0;
                height: 3rem;
                min-width: 40%;
                padding: .5rem;
                outline: 0;
            }
        }

        &__phone-cart-group {
            @include centerContentFlex;
        }

        &__phone-number {
            @include centerContentFlex;
            margin-right: 5rem;

            ion-icon {
                font-size: 2.5rem;
                margin-right: 1rem;
                transform: translateY(5px);
            }

            & p {
                font-size: 2rem;
            }
        }

        &__cart {
            ion-icon {
                font-size: 5rem;
            }
        }
    }

    &-bot {
        border-top: .1rem solid $light-gray;
        border-bottom: .1rem solid $light-gray;
        margin-top: 5rem;

        &__container {
            font-size: 1.6rem;
            color: main-gray;
            padding: .5rem 0;
            @include centerContentFlex;
            gap: 10%;
            flex-flow: wrap;

            div {
                padding: .5rem;
            }
        }
    }
}

//test