.footer {
    margin-top: 5rem;
    background-color: $main-gray;

    &_container {
        padding: 3rem;
        margin: 0 20vh;
        @include centerContentGrid;
        grid-template-columns: 1fr 1fr;
        transform: translateX(-12.5rem);
    }

    &_logo a:visited,
    &_logo a:link,
    &_logo a:active,
    &_logo a:hover {
        font-size: 2.5rem;
        @include centerContentFlex;
        text-decoration: none;
        color: black;
    }

    &_nav {
        font-size: 1.5rem;
        text-align: center;
        @include centerContentFlex;
        flex-flow: wrap;
        gap: 2rem;

        &-titles {
            &-list {
                margin-top: 1rem;
                list-style-type: none;
            }
        }
    }

    &_legal {
        margin-top: 2rem;
        padding: 2rem;

        &-container {
            @include centerContentFlex;
            font-size: 1.75rem;
            gap: 2.5%;
        }
    }
}