.showcase__container {
    @include centerContentGrid;

    .showcase-item {
        display: grid;
        align-items: flex-start;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 5rem;
        height: 80vh;
        grid: 1;

        &__viewer {
            @include centerContentFlex;
            flex-flow: wrap;

            .viewer__grid {
                @include centerContentGrid;
                grid-template-columns: 1fr 1fr;
                margin-left: 15rem;

                li {
                    list-style: none;

                    img {
                        padding: .1rem .3rem;
                        height: $image-viewer-size;
                        width: $image-viewer-size;
                        border-radius: .5rem;
                    }
                }
            }
        }

        &__main {
            img {
                border-radius: .5rem;
                height: 100%;
            }
        }

        &__details {
            @include centerContentGrid;
            font-size: 2rem;
            height: 100%;
        }

        &__price {
            @include centerContentFlex;
            gap: 10%;
        }

        &__perks {

            list-style: none;
            @include centerContentGrid;
            grid-template-columns: 1fr 1fr;
            margin-top: 5rem;

            li {
                margin: .5rem;
                width: 25rem;
                @include centerContentFlex;
                border: $main-gray .2rem solid;

                ion-icon {
                    font-size: 3rem;
                    margin-right: 2rem;
                }
            }
        }

        &__add-to-cart {
            margin-top: 5rem;
        }

        &__options {
            margin-top: 5rem;
            list-style: none;

            li {
                display: inline-block;

                img {
                    padding: .1rem .3rem;
                    height: $image-viewer-size;
                    width: $image-viewer-size;
                    border-radius: .5rem;
                }
            }
        }
    }

    .description {
        margin: 0 15rem;
        margin-top: 25rem;
        font-size: 2rem;
        text-align: center;
        grid: 2;

        &__links {
            @include centerContentGrid;
            grid-template-columns: 1fr 1fr;
            list-style: none;
            background-color: $medium-gray;
            border-radius: .2rem;
            padding: 1rem;

            li {
                font-size: 2.5rem;
                margin-right: 2rem;
            }
        }

        &__info {
            margin-top: 5rem;

            p {
                margin-top: 5rem;
            }
        }

        &__technical {
            margin-top: 5rem;
            width: 100%;
            background-color: $light-gray;
            border-collapse: collapse;

            tr:nth-child(even) {
                background-color: $medium-gray;
            }

            td {
                padding: .5rem;
                text-align: left;
            }

            td:nth-child(odd) {
                width: 15%;
            }
        }
    }
}